/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-orange: #fb7413;
  --color-white: #ffffff;
  --color-lightGrey: #959eac;
  --color-mediumGrey: #7d8899;
  --color-darkBlue: #252d37;
  --color-veryDarkBlue: #121417;

  /* font-size */
  --font-xl: 1.75rem;
  --font-m: 0.938rem;
  --font-numbers: 1rem;

  /* font-weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus-visible {
  outline: #646464 dotted 2px;
  outline-offset: 4px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  max-width: 100%;
  display: block;
}

a:link {
  text-decoration: none;
}

button,
[type="button"] {
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
  background: var(--color-veryDarkBlue);
  line-height: 1.5;

  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1.5rem;
}

/* Component */
.how {
  max-width: 25.75rem;
  height: 26rem;
  padding: 2rem 2.438rem 2rem 2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 1.875rem;
}

.how.show {
  display: none;
}

.circle-number {
  width: 100%;
  height: 3.188rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-darkBlue);
}

.circle-star {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.875rem;
}

.how__title {
  font-weight: var(--fw-bold);
  font-size: var(--font-xl);
  line-height: 1.25;
  color: var(--color-white);
  margin-bottom: 15px;
}

.desc {
  font-weight: var(--fw-regular);
  font-size: var(--font-m);
  line-height: 1.6;
  color: var(--color-lightGrey);
  margin-bottom: 1.5rem;
}

.how__circles {
  display: flex;
  gap: 1.375rem;
  margin-bottom: 2rem;
}

.how__number {
  border: none;
  background: var(--color-darkBlue);
  font: var(--fw-bold) var(--font-numbers) / 1.5 "Overpass", sans-serif;
  letter-spacing: 0.013rem;
  color: var(--color-mediumGrey);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.how__number.active {
  background: var(--color-mediumGrey);
  color: var(--color-white);
}

.how__number:hover {
  background: var(--color-orange);
  color: var(--color-white);
}

.btn:link,
.btn:visited {
  display: inline-block;
  background: var(--color-orange);
  color: var(--color-white);
  padding-top: 0.688rem;
  padding-bottom: 0.688rem;
  width: 100%;
  border-radius: 23px;
  text-align: center;
  font: var(--fw-bold) var(--font-numbers) / 1.26 "Overpass", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background: var(--color-white);
  color: var(--color-orange);
}

.thanks {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 2.813rem 2.5rem 2.813rem 2rem;
  display: none;
  position: relative;
}

.thanks.show {
  display: grid;
  animation: show-drop 0.5s ease-in-out;
  animation-timing-function: linear;
}

.thanks__icon-box {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  color: var(--color-orange);
  cursor: pointer;
  animation: show-right 1s ease-in-out;
  animation-iteration-count: 2;
}

.thanks__icon {
  width: 1.125rem;
}

@keyframes show-right {
  0% {
    transform: translateX(1.25rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.thanks__img {
  margin-bottom: 2rem;
}

.thanks__selected-box {
  padding: 0.25rem 1.25rem;
  border-radius: 1.438rem;
  background: var(--color-darkBlue);
  margin: auto;
  margin-bottom: 2rem;
}

.thanks__selected {
  font-weight: var(--fw-regular);
  font-size: var(--font-m);
  line-height: 1.6;
  color: var(--color-orange);
}

.thanks__title {
  margin-bottom: 0.938rem;
}

.thanks .desc {
  margin-bottom: 0;
}

.btn-box {
  position: relative;
}

.blockBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  cursor: no-drop;
  background: var(--color-lightGrey);
  border-radius: 1.438rem;
  z-index: 2;
}

.blockBtn.active {
  visibility: hidden;
}

@keyframes show-drop {
  0% {
    transform: rotate3d(0, 1, 0.5, 3.142rad)
      translate3d(-1.25rem, -1.5rem, -2.25rem);
    transform-origin: top center;
    opacity: 0.25;
  }
  100% {
    transform: rotate3d(0, 0, 0, 0turn) translate3d(0, 0, 0, 0);
    opacity: 1;
  }
}

@media (max-width: 410px) {
  .how {
    padding: 1.5rem 1.375rem 2rem 1.5rem;
    height: max-content;
  }

  .circle-star {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .circle-star > img {
    width: 0.875rem;
  }

  .circle-number {
    height: 2.625rem;
  }

  .how__number {
    font-size: 0.875rem;
    letter-spacing: 0.175rem;
  }

  .how__circles {
    gap: 1.125rem;
    margin-bottom: 1.5rem;
  }

  .how__title {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0.625rem;
  }

  .desc,
  .thanks__selected {
    font-size: 0.875rem;
    line-height: 1.57;
    margin-bottom: 1.5rem;
  }

  .thanks__selected {
    margin-bottom: 0;
  }

  .thanks__selected-box {
    padding: 0.313rem 0.75rem;
    margin-bottom: 1.5rem;
  }

  .thanks__icon-box {
    width: 1.5rem;
    height: 1.5rem !important;
  }
}

@media (max-width: 320px) {
  main {
    padding: 0 1rem;
  }

  .how {
    padding: 1rem 0.75rem 1.25rem 1rem;
  }

  .how__circles {
    gap: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .how__number {
    height: 2.125rem;
    font-size: 0.625rem;
  }

  .thanks__icon-box {
    top: 0.625rem;
    right: 0.938rem;
  }
}
